body{
  background-color: aliceblue;
  text-align: center;
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 0%;
  margin: 0%;
}
.signup{
  height: 400px;
  width: 280px;
  text-align: center;
  display: flex;
  border: 1px;
  border-radius: 5px;
  margin-top: 20px;
}
.signin{
  height: 280px;
  width: 280px;
  text-align: center;
  display: flex;
  border: 1px;
  border-radius: 5px;
  margin-top: 20px;
}
/* App{
text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg,#fcfced,#fcedfc 48%,#ebf6ff);
} */
input {
  margin: 0.3rem 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: black;
}
.signup-form{
  margin-top: 2px;
  background-image: linear-gradient(79deg,#fcfced,#fcedfc 48%,#ebf6ff);
  padding: 15px;
  width: 300px;
  border-radius: 5px;
}
.signin-form{
  margin-top: 2px;
  background-image: linear-gradient(79deg,#fcfced,#fcedfc 48%,#ebf6ff);
  padding: 15px;
  width: 300px;
  border-radius: 5px;
}
label{
  color: #C7BCA1;
}
h2{
  color: #594545;
  
}
button{
  background-color: gray;
  border: none;
  margin-top: 18px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
